<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>facture Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div th:include="fragment/header.html"></div>
	<div class="container">
		<h1>facturation Management System</h1>
		<hr>
		<h2>Save facturation</h2>

		<form action="#" th:action="@{/saveFacturation}" th:object="${facturation}"
			method="POST">
			<input type="date" th:field="*{date}" placeholder="date" 
				class="form-control mb-4 col-4" required>
			<input type="text" th:field="*{montant}" placeholder="montant"
				class="form-control mb-4 col-4" required>
				 <select
				class="form-control mb-4 col-4" th:field="*{produits}" required>
				<th:block th:each="rl :${listesproduit}">
					<option th:value="${rl.idproduit}" th:text="${rl.libelle}" />
					<th:block />
			</select>
			<button type="submit" class="btn btn-info col-2">Save
				facture</button>
		</form>

		<hr>

		<a th:href="@{/facturations}"> Back to facture List</a>
	</div>
</body>
</html>