<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>facture Management System</title>

</head>
<body>
	<div th:include="fragment/header.html"></div>
	<div class="container">
		<h1>facture Management System</h1>
		<hr>
		<h2>Update facture</h2>

		<form action="#" th:action="@{/saveFacturation}" th:object="${facturation}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{idfacturation}" /> <input type="date"
				th:field="*{date}" class="form-control mb-4 col-4">
				<input type="text"
				th:field="*{montant}" class="form-control mb-4 col-4">
				<select class="form-control mb-4 col-4" th:field="*{produits}"
				required>
				<th:block th:each="rl :${listesproduit}">
					<option th:value="${rl.idproduit}" th:text="${rl.libelle}" />
					<th:block />
			</select>

			<button type="submit" class="btn btn-info col-2">Update facturation</button>
		</form>

		<hr>

		<a th:href="@{/facturations}"> Back to facture List</a>
	</div>
</body>
</html>